See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
next.js build output
.next/
out/

node_modules
/node_modules
/.pnp
.pnp.cjs

dependencies
/node_modules
/.pnpm-store

local .env files
.env*.local
.env

typescript
*.tsbuildinfo

next.js specific
.next
.swc
/out
/public/.next

logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.log

misc
.DS_Store
*.seed
*.sql
*.sqlite
*.sqlite3
.idea/
.vscode/
.vs/
.history
.tmp/
.web/
.parcel-cache/
.eslintcache